.custom-mx {
    margin-left: 20rem;
    margin-right: 20rem;
}
/* Define the keyframes for the opacity animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Apply the animation to the body element */
body {
    animation: fadeIn 2s forwards;
}
